@import "../config";

.projects-container {
    @include flex(center, flex-start, column);
    padding: 10vh 0 20vh 0;
    height: auto;
    width: 100vw;
    background: $lightBeige;
    overflow-x: hidden;

    .inner {
        @include flex(flex-start, flex-start, column);
        width: $inner-width;

        .message {
            margin-bottom: 20vh;

            h1 {
                @include main-font(3.5rem, 700, $black);
                margin-bottom: 10px;
            }

            p {
                width: 40%;
                @include minor-font(1rem, 600, $black);
                line-height: 1.8rem;
            }
        }

        .project-container {
            @include flex(center, flex-start, column);
            width: 100%;

            .pizza-project {
                @include flex(center, space-between, row);
                height: 50vh;
                width: 100%;
                margin-bottom: 30vh;

                .left {
                    position: relative;
                    height: 100%;
                    width: 50%;

                    img {
                        position: absolute;
                        height: 120%;
                        border-radius: 20px;
                        box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                    }

                    .img-1 {
                        left: 10%;
                        top: -20%;
                    }

                    .img-2 {
                        right: 10%;
                    }
                }

                .right {
                    @include flex(flex-start, flex-start, column);
                    height: 100%;
                    width: 40%;
                    transform: translateX(-10%);

                    .text {
                        @include flex(flex-start, flex-start, column);
                        width: 100%;
                        margin-bottom: 10%;

                        h2 {
                            @include main-font(2.5rem, 700, $black);
                            margin-bottom: 20px;
                        }

                        p {
                            @include minor-font(1rem, 600, $black);
                            line-height: 1.8rem;
                            margin-bottom: 15px;
                        }
                    }

                    a {
                        @include flex(center, center, row);
                        @include minor-font(1rem, 700, $mainOrange);
                        padding: 12px 15px;
                        border-radius: 5px;
                        border: 1px solid $mainOrange;
                        text-decoration: none;
                        cursor: pointer;
                        transition: 0.2s all ease-in;

                        &:hover {
                            background: $softBlack;
                            color: $lightBeige;
                            border: 1px solid $softBlack;
                        }
                    }
                }
            }

            .jlc-project {
                @include flex(center, space-between, row);
                height: 60vh;
                width: 100%;
                margin-bottom: 20vh;

                .right {
                    @include flex(center, center, row);
                    height: 100%;
                    width: 60%;

                    img {
                        height: 100%;
                        border-radius: 20px;
                        box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                    }
                }

                .left {
                    @include flex(flex-start, center, column);
                    height: 100%;
                    width: 40%;
                    padding-right: 5%;

                    .text {
                        @include flex(flex-start, flex-start, column);
                        width: 100%;
                        margin-bottom: 5%;

                        h2 {
                            @include main-font(2.5rem, 700, $black);
                            margin-bottom: 20px;
                        }

                        p {
                            @include minor-font(1rem, 600, $black);
                            line-height: 1.8rem;
                            margin-bottom: 15px;

                            .underline {
                                border-bottom: 2px solid $mainOrange;
                            }

                            .astrix {
                                color: $mainOrange;
                            }
                        }
                    }

                    a {
                        @include flex(center, center, row);
                        @include minor-font(1rem, 700, $mainOrange);
                        padding: 12px 15px;
                        border-radius: 5px;
                        border: 1px solid $mainOrange;
                        text-decoration: none;
                        cursor: pointer;
                        transition: 0.2s all ease-in;

                        &:hover {
                            background: $softBlack;
                            color: $lightBeige;
                            border: 1px solid $softBlack;
                        }
                    }
                }
            }

            .nba-project {
                @include flex(center, space-between, row);
                height: 60vh;
                width: 100%;

                .left {
                    @include flex(center, center, row);
                    height: 100%;
                    width: 60%;

                    img {
                        height: 95%;
                        border-radius: 20px;
                        box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
                    }
                }

                .right {
                    @include flex(flex-start, center, column);
                    height: 100%;
                    width: 40%;
                    transform: translateX(10%);

                    .text {
                        @include flex(flex-start, flex-start, column);
                        width: 80%;
                        margin-bottom: 5%;

                        h2 {
                            @include main-font(2.5rem, 700, $black);
                            margin-bottom: 20px;
                        }

                        p {
                            @include minor-font(1rem, 600, $black);
                            line-height: 1.8rem;
                            margin-bottom: 15px;

                            a {
                                text-decoration: none;
                                color: $mainOrange;
                            }

                            span {
                                border-bottom: 2px solid $mainOrange;
                            }
                        }
                    }

                    .disabled-button {
                        @include flex(center, center, row);
                        @include minor-font(1rem, 700, gray);
                        padding: 12px 15px;
                        border-radius: 5px;
                        border: 1px solid gray;
                        text-decoration: none;
                        cursor: not-allowed;
                        transition: 0.2s all ease-in;
                    }
                }
            }
        }
    }
}

.hr-container {
    @include flex(center, center, row);
    width: 100vw;
    background: $lightBeige;

    .horizontal-line {
        height: 2px;
        width: $inner-width;
        background-image: linear-gradient(to right, $softBlack 10%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 15px 2px;
        background-repeat: repeat-x;
    }
}





// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
    .projects-container {
        padding: 10vh 0;

        .inner {
            width: 100%;
            padding: 0 10%;

            .message {
                h1 {
                    font-size: 2.8rem;
                }

                p {
                    font-size: 0.9rem;
                    width: 100%;
                }
            }

            .project-container {
                .pizza-project {
                    @include flex(center, center, column);
                    height: auto;
                    margin-bottom: 10vh;

                    .left {
                        width: 100%;
                        height: 50vh;
                        img {
                            height: 100%;
                            
                        }

                        .img-1 {
                            left: 40%;
                        }

                        .img-2 {
                            left: 0;
                            
                        }
                    }

                    .right {
                        padding: 5vh 0;
                        width: 100%;
                        transform: translateX(0);
                        height: auto;

                        .text {
                            h2 {
                                font-size: 2.2rem;
                            }

                            p {
                                font-size: 0.9rem;
                            }
                        }

                        .a-link-container{
                            width: 100%;
                            @include flex(center, center, row);
                            a {
                                padding: 12px 20px;
                            }
                        }
                    }
                }

                .jlc-project {
                    flex-direction: column-reverse;
                    height: auto;
                    margin-bottom: 20vh;
                    .left {
                        height: auto;
                        width: 100%;
                        padding: 0;

                        .text {
                            h2 {
                                font-size: 2.2rem;
                            }
                            p {
                                font-size: 0.9rem;
                                span {
                                    font-size: 0.9rem;
                                }
                            }
                        }

                        .a-link-container {
                            @include flex(center, center, row);
                            width: 100%;

                            a {
                                padding: 12px 20px;
                            }
                        }

                    }

                    .right {
                        height: auto;
                        width: 100%;
                        margin-bottom: 5vh;

                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 5px;
                        }
                    }
                }

                .nba-project {
                    flex-direction: column;
                    height: auto;
                    
                    .left {
                        width: 100%;
                        height: auto;

                        img {
                            width: 100%;
                            border-radius: 5px;
                        }
                    }

                    .right {
                        transform: translateX(0);
                        width: 100%;
                        padding: 5vh 0;

                        .text {
                            width: 100%;

                            h2 {
                                font-size: 2.2rem;
                            }

                            p {
                                font-size: 0.9rem;
                                span {
                                    font-size: 0.9rem;
                                }
                            }
                        }

                        .a-link-container {
                            width: 100%;
                            @include flex(center, center, row);
                        }
                    }
                }
            }
        }
    }
}

// Phone landscape
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 825px) 
and(orientation: landscape) {
    .projects-container {
        padding: 20vh 0;

        .inner {
            width: 100%;
            padding: 0 5%;

            .message {
                margin-bottom: 40vh;
                width: 60%;
                h1 {
                    font-size: 2.8rem;
                }

                p {
                    font-size: 0.9rem;
                    width: 100%;
                }
            }

            .project-container {

                .pizza-project {
                    @include flex(center, center, column);
                    height: auto;
                    margin-bottom: 40vh;

                    .left {
                        @include flex(center, center, row);
                        width: 100%;
                        height: 100vh;
                        margin-bottom: 20vh;
                        img {
                            width: 30%;
                            
                        }

                        .img-1 {
                            left: 55%;
                        }

                        .img-2 {
                            left: 20%;
                            
                        }
                    }

                    .right {
                        padding: 5vh 0;
                        width: 80%;
                        transform: translateX(0);
                        height: auto;

                        .text {
                            h2 {
                                font-size: 2.2rem;
                            }

                            p {
                                font-size: 0.9rem;
                       
                            }
                        }

                        .a-link-container{
                            width: 100%;
                            @include flex(center, center, row);
                            a {
                                padding: 12px 20px;
                            }
                        }
                    }
                }

                .jlc-project {
                    flex-direction: column-reverse;
                    height: auto;
                    margin-bottom: 40vh;
                    width: 80%;
                    .left {
                        height: auto;
                        width: 100%;
                        padding: 0;

                        .text {
                            h2 {
                                font-size: 2.2rem;
                            }
                            p {
                                font-size: 0.9rem;
                                span {
                                    font-size: 0.9rem;
                                }
                            }
                        }

                        .a-link-container {
                            @include flex(center, center, row);
                            width: 100%;

                            a {
                                padding: 12px 20px;
                            }
                        }

                    }

                    .right {
                        height: auto;
                        width: 100%;
                        margin-bottom: 20vh;

                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 5px;
                        }
                    }
                }

                .nba-project {
                    flex-direction: column;
                    height: auto;
                    width: 80%;
                    
                    .left {
                        width: 100%;
                        height: auto;
                        margin-bottom: 20vh;

                        img {
                            width: 100%;
                            border-radius: 5px;
                        }
                    }

                    .right {
                        transform: translateX(0);
                        width: 100%;
                        padding: 5vh 0;

                        .text {
                            width: 100%;

                            h2 {
                                font-size: 2.2rem;
                            }

                            p {
                                font-size: 0.9rem;
                                span {
                                    font-size: 0.9rem;
                                }
                            }
                        }

                        .a-link-container {
                            width: 100%;
                            @include flex(center, center, row);
                        }
                    }
                }
            }
        }
    }
}

// Low end Tablet Portrait
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px) 
and (min-height: 1024px) 
and (orientation: portrait) {
    .projects-container {
        .inner {
            width: 75%;
            padding: 0;
            .message {
                width: 60%;

                h1 {
                    font-size: 3.3rem;
                }

                p {
                    font-size: 1rem;
                }
            }

            .project-container {
                .pizza-project {
                    width: 100%;
                    .left {

                        margin-bottom: 5vh;
                        .img-1 {
                            left: 55%;
                        }

                        .img-2 {
                            left: 5%;
                        }
                    }

                    .right {
                        .text {
                            margin-bottom: 5%;
                            h2 {
                                font-size: 2.7rem;
                            }

                            p {
                                font-size: 1rem;
                            }
                        }

                        .a-link-container {
                        a {
                            padding: 20px 23px;
                            font-size: 1.1rem;
                        }
                    }
                    }

            
                }

                .jlc-project {
                    .left {
                        .text {
                            h2 {
                                font-size: 2.7rem;
                            }

                            p {
                                font-size: 1rem;
                            }
                        }

                        .a-link-container {
                            a {
                                padding: 20px 23px;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }

                .nba-project {
                    .right {
                        .text {
                        h2 {
                            font-size: 2.7rem;
                        }

                        p {
                            font-size: 1rem;
                        }
                        }

                        .a-link-container {
                            .disabled-button {
                                padding: 20px 23px;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Low end Tablet landscape
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

}

// Mid Tablet Portrait
@media only screen 
and (min-device-width: 823px) 
and (max-device-width: 823px) 
and (min-device-height: 1112px) 
and (max-device-height: 1112px) 
and (orientation: portrait) {

}

// Mid Tablet Landscape
@media only screen 
and (min-device-height: 823px) 
and (max-device-height: 823px) 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) {

}

 // High end Tablet Portrait
 @media only screen 
 and (min-device-width: 1024px) 
 and (max-device-width: 1024px) 
 and (min-device-height: 1366px) 
 and (max-device-height: 1366px) 
 and (orientation: portrait) {

 }

 // High end Tablet Landscape
@media only screen 
and (min-device-height: 1024px) 
and (max-device-height: 1024px) 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) {

}

// Laptop
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1680px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .projects-container {
        .inner {
            width: 90%;

            .message {
                h1 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }

            .project-container {
                .pizza-project {
                    .right {
                        .text {
                            h2 {
                                font-size: 2rem;
                            }

                            p {
                                font-size: 0.8rem;
                            }
                        }

                        a {
                            font-size: 0.9rem;
                        }
                    }
                }
                .jlc-project {
                    .right {
                        img {
                            height: 90%;
                        }
                    }

                    .left {
                        .text {
                            h2 {
                                font-size: 2rem;
                            }

                            p {
                                font-size: 0.8rem;

                                span {
                                    font-size: 0.8rem;
                                }
                            }
                        }
                        a {
                            font-size: 0.9rem;
                        }
                    }
                }

                .nba-project {
                    .left {
                        img {
                            height: 90%;
                        }
                    }

                    .right {
                        .text {
                            h2 {
                                font-size: 2rem;
                            }

                            p {
                                font-size: 0.8rem;
                                span {
                                    font-size: 0.8rem;
                                }
                            }

                            a {
                                font-size: 0.8rem;
                            }
                        }

                        .disabled-button {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

// 4k
@media screen 
and (min-device-width: 2400px) 
and (max-device-width: 3200px) {
    .projects-container {
        .inner {
            .message {
                h1 {
                    font-size: 4.2rem;
                }

                p {
                    font-size: 1.3rem;
                    line-height: 2.2rem;
                }
            }

            .project-container {
                .pizza-project {
                    .right {
                        .text {
                            h2 {
                                font-size: 3.2rem;
                            }

                            p {
                                font-size: 1.3rem;
                                line-height: 2.2rem;
                            }
                        }

                        a {
                            padding: 20px 25px;
                            font-size: 1.3rem;
                        }
                    }
                }
                .jlc-project {
                    .left {
                        .text {
                            h2 {
                                font-size: 3.2rem;
                            }

                            p {
                                font-size: 1.3rem;
                                line-height: 2.2rem;

                                span {
                                    font-size: 1.3rem;
                                }
                            }
                        }

                        a {
                            padding: 20px 25px;
                            font-size: 1.3rem;
                        }
                    }
                }

                .nba-project {
                    .right {
                        .text {
                            h2 {
                                font-size: 3.2rem;
                            }

                            p {
                                font-size: 1.3rem;
                                line-height: 2.2rem;

                                span {
                                    font-size: 1.3rem;
                                }
                            }
                        }

                        a {
                            padding: 20px 25px;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}