@import "../config";

.about-container {
    @include flex(center, center, row);
    padding: 10vh 0 0 0;
    height: 100vh;
    width: 100vw;
    background: $lightBeige;

    
    .inner {
        @include flex(flex-start, flex-start, column);
        height: 100%;
        width: $inner-width;

        .text {
            @include flex(flex-start, flex-start, row);
            width: 100%;
            margin-bottom: 40px;

            h2 {
                @include main-font(3.5rem, 700, $black);
            }
        }

        .content-container {
            @include flex(center, space-around, row);
            width: 100%;
            height: 80%;
            
            .about-card {
                @include flex(center, flex-start, column);
                height: 100%;
                width: 25%;
                padding: 2%;
                box-shadow: 0 1px 15px -5px rgb(148, 148, 148);
          

                .img-container {
                    @include flex(center, center, row);
                    height: 20%;
                    width: 100%;

                    img {
                        height: 70%;
                    }
                }

                .text-container {
                    @include flex(flex-start, flex-start, column);
                    padding: 5% 0;

                    h2 {
                        @include main-font(1.4rem, 700, $black);
                        margin-bottom: 0.8rem;
                    }

                    p {
                        @include minor-font(0.9rem, 400, $black);
                        line-height: 1.4rem;
                        margin-bottom: 0.6rem;
                    }
                }
            }
        }
    }
}






// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
    .about-container {
        height: auto;
        
        .inner {
            width: 100%;
            padding: 0 10%;
          

            .text {
                margin-bottom: 0;
                h2 {
                    font-size: 2.8rem;
                }
            }

            .content-container {
                flex-direction: column;
                height: auto;

                .about-card {
                    height: auto;
                    width: 100%;
                    box-shadow: none;
                    padding: 10vh 0 10vh 0;
                    
                    border-bottom: 1px solid $softGray;

                    .img-container {
                        height: 15vh;

                    }

                    .text-container {
                        p {
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

// Phone landscape
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 825px) 
and(orientation: landscape) {
    .about-container {
        height: auto;
        padding-top: 30vh;
        
        
        .inner {
            width: 100%;
            padding: 0 5%;
            align-items: center;

            .text {
                margin-bottom: 0;
                h2 {
                    font-size: 2.8rem;
                }
            }

            .content-container {
                flex-direction: column;
                height: auto;
                width: 80%;

                .about-card {
                    height: auto;
                    width: 100%;
                    box-shadow: none;
                    padding: 10vh 0 10vh 0;
                    
                    
                    border-bottom: 1px solid $softGray;

                    .img-container {
                        height: 40vh;

                    }

                    .text-container {
                        p {
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

// Low end Tablet Portrait
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px) 
and (min-height: 1024px) 
and (orientation: portrait) {
    .about-container {
        .inner {
            width: 75%;
            padding: 0;

            .content-container {

                .about-card {
                    .text-container {
                        h2 {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

// Low end Tablet landscape
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {
    .about-container {
        height: auto;
        padding: 30vh 10vw 0 10vw;
        
        
        .inner {
            width: 100%;
            padding: 0 5%;
            align-items: center;

            .text {
                margin-bottom: 0;
                h2 {
                    font-size: 2.8rem;
                }
            }

            .content-container {
                flex-direction: column;
                height: auto;
                width: 80%;

                .about-card {
                    height: auto;
                    width: 100%;
                    box-shadow: none;
                    padding: 10vh 0 10vh 0;
                    
                    
                    border-bottom: 1px solid $softGray;

                    .img-container {
                        height: 20vh;

                    }

                    .text-container {

                        h2 {
                            font-size: 1.7rem;
                        }
                        p {
                            font-size: 1rem;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

// Mid Tablet Portrait
@media only screen 
and (min-device-width: 823px) 
and (max-device-width: 823px) 
and (min-device-height: 1112px) 
and (max-device-height: 1112px) 
and (orientation: portrait) {
    .about-container {
        height: auto;
        padding: 20vh 10vw 0 10vw;
        
        
        .inner {
            width: 100%;
            padding: 0 5%;
            align-items: center;
            padding: 0;

            .text {
                margin-bottom: 0;
                h2 {
                    font-size: 2.8rem;
                }
            }

            .content-container {
                flex-direction: column;
                height: auto;
                width: 80%;

                .about-card {
                    height: auto;
                    width: 100%;
                    box-shadow: none;
                    padding: 10vh 0 10vh 0;
                    
                    
                    border-bottom: 1px solid $softGray;

                    .img-container {
                        height: 10vh;

                    }

                    .text-container {

                        h2 {
                            font-size: 1.7rem;
                        }
                        p {
                            font-size: 1rem;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

// Mid Tablet Landscape
@media only screen 
and (min-device-height: 823px) 
and (max-device-height: 823px) 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) {
    .about-container {
        height: auto;
        padding: 20vh 10vw 0 10vw;
        
        
        .inner {
            width: 100%;
            padding: 0 5%;
            align-items: center;
            padding: 0;

            .text {
                margin-bottom: 0;
                h2 {
                    font-size: 2.8rem;
                }
            }

            .content-container {
                flex-direction: column;
                height: auto;
                width: 80%;
          

                .about-card {
                    height: auto;
                    width: 100%;
                    box-shadow: none;
                    padding: 10vh 0 10vh 0;
             
                    
                    
                    border-bottom: 1px solid $softGray;

                    .img-container {
                        height: 17vh;

                    }

                    .text-container {

                        h2 {
                            font-size: 1.7rem;
                        }
                        p {
                            font-size: 1rem;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

 // High end Tablet Portrait
 @media only screen 
 and (min-device-width: 1024px) 
 and (max-device-width: 1024px) 
 and (min-device-height: 1366px) 
 and (max-device-height: 1366px) 
 and (orientation: portrait) {

 }



// Laptop
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1680px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .about-container {
        .inner {
            width: 90%;

            .text {
                h2 {
                    font-size: 2.5rem;
                }
            }

            .content-container {
                .about-card {
                    .text-container {
                        h2 {
                            font-size: 1.2rem;
                        }

                        p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

 // High end Tablet Landscape
 @media only screen 
 and (min-device-height: 1024px) 
 and (max-device-height: 1024px) 
 and (min-device-width: 1366px) 
 and (max-device-width: 1366px) 
 and (orientation: landscape) {
    .about-container {
        .inner {

            .content-container {
                @include flex(center, space-between, row);

                .about-card {
                    width: 30%;

                    .text-container {
                        h2 {
                            font-size: 1.8rem;
                        }

                        p {
                            font-size: 1rem;
                            line-height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
 }

// 4k
@media screen 
and (min-device-width: 2400px) 
and (max-device-width: 3200px) {
    .about-container {
        .inner {
            .text {
                h2 {
                    font-size: 4.2rem;
                }
            }

            .content-container {
                .about-card {

                    .text-container {
                        h2 {
                            font-size: 2.5rem;
                            margin-bottom: 1.5rem;
                        }

                        p {
                            font-size: 1.3rem;
                            line-height: 2.2rem;
                        }
                    }
                }
            }
        }
    }
}