@import "../config";

.contact-container {
    @include flex(flex-end, center, row);
    height: 100vh;
    width: 100vw;
    background: $superLightBeige;

    .inner {
        @include flex(center, center, row);
        height: 93vh;
        width: 70%;

        .left {
            @include flex(center, space-between, column);
            width: 50%;
            height: 80%;

            .text {
                @include flex(flex-start, space-between, column);
                width: 100%;

                h1 {
                    @include main-font(3.5rem, 700, $softBlack);
                    width: 100%;
                }

                .bottom-h1 {
                    margin: -10px 0 15px 0;
                }

                h3 {
                    @include minor-font(1.1rem, 700, $softBlack);

                    span {
                        border-bottom: 2px solid $mainOrange;
                    }
                }
            }

            img {
                width: 80%;
                transform: translateX(-50px);
            }
        }

        .right {
            @include flex(flex-start, flex-start, row);
            height: 80%;
            width: 50%;

            form {
                @include flex(flex-start, flex-start, column);
                height: 100%;
                width: 80%;
                margin-left: 20%;
                margin-top: 5%;

                .form-input-container {
                    @include flex(flex-start, flex-start, column);
                    margin-bottom: 30px;
                    width: 90%;

                    h2 {
                        @include minor-font(1rem, 700, $softBlack);
                        margin-bottom: 5px;
                        span {
                            color: $mainOrange;
                        }
                    }

                    input {
                        @include minor-font(1rem, 400, gray);
                        padding: 5px 2px;
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid $softGray;
                        transition: 0.3s all ease-in-out;

                        &:focus {
                            color: $softBlack;
                            outline: none;
                            border-bottom: 1px solid $mainOrange;
                        }
                    }
                }

                .time-slot-container {
                    width: 100%;

                    .text-container {
                        @include flex(flex-start, flex-start, row);
                        h2 {
                            @include minor-font(1rem, 700, $softBlack);

                            margin: 0 10px 10px 0;

                            span {
                                color: $mainOrange;
                            }
                        }

                        h3 {
                            @include minor-font(1rem, 400, gray);
                        }
                    }

                    .checkbox-container {
                        @include flex(flex-start, flex-start, row);
                        width: 80%;
                        height: 90px;
                        margin-bottom: 10%;

                        .left {
                            @include flex(center, space-between, column);
                            width: auto;
                            margin-right: 10px;
                            transform: translateY(12 px);
                            height: 100%;

                            .upper {
                                height: 30px;
                            }

                            .lower {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                height: 60px;

                                h3 {
                                    @include minor-font(1rem, 700, $softBlack);
                                }
                            }
                        }

                        .right {
                            @include flex(flex-start, flex-start, row);
                            height: 90px;
                            width: 100%;

                            .day {
                                @include flex(center, space-between, column);
                                margin-right: 20px;
                                width: 50px;

                                height: 100%;
                                h3 {
                                    @include flex(center, center, column);
                                    @include minor-font(1rem, 700, $softBlack);
                                    width: 100%;
                                }

                                input {
                                    height: 30px;
                                }
                            }
                        }
                    }
                }

                .submit-button {
                    @include flex(center, center, row);
                    @include minor-font(1rem, 700, $superLightBeige);

                    padding: 12px 15px;
                    border-radius: 5px;
                    border: 1px solid $mainOrange;
                    background: $mainOrange;
                    text-decoration: none;
                    transition: 0.2s all ease-in;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid $softBlack;
                        background: $softBlack;
                        color: $lightBeige;
                    }
                }
            }
        }
    }
}





// Phone portrait
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 812px) 
and(orientation: portrait) {
    .contact-container {
        height: auto;

        .inner {
            @include flex(center, center, column);
            height: auto;
            width: 100%;

            .left {
                width: 100%;
                padding: 10%;
                height: auto;

                .text {
                    h1 {
                        font-size: 2.5rem;
                        line-height: 3rem;
                    }
                    .bottom-h1 {
                        margin: 0;
                        margin-bottom: 12px;
                    }

                    h3 {
                        font-size: 1rem;

                        span {
                            font-size: 1rem;
                        }
                    }
                }

                img {
                    display: none;
                }
            }

            .hr-container {
                @include flex(center, center, row);
                width: 100%;
                background: $lightBeige;
            
                .horizontal-line {
                    height: 2px;
                    width: 80%;
                    background-image: linear-gradient(to right, $softBlack 10%, rgba(255,255,255, 0) 0%);
                    background-position: bottom;
                    background-size: 15px 2px;
                    background-repeat: repeat-x;
                }
            }

            .right {
                height: auto;
                width: 100%;

                form {
                    margin: 0;
                    padding: 10%;
                    width: 100%;

                    .form-input-container {
                        width: 100%;

                        h2 {
                            font-size: 0.9rem;
                        }

                        input {
                            font-size: 0.9rem;

                        }
                    }

                    .time-slot-container {
                        .text-container {
                            h2 {
                                font-size: 0.9rem;

                                span {
                                    font-size: 0.9rem;
                                }
                            }

                            h3 {
                                font-size: 0.9rem;
                            }
                        }

                        .checkbox-container {
                            width: 100%;
                            .left {
                                width: 0%;
                                padding: 0;
                                transform: translateY(-5px);
                                margin-right: 20px;

                                .lower {
                                    height: 55px;
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }

                            .right {
                                .day {
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }
                        }
                    }

                    .submit-button {
                  
                    }
                }
            }
        }

        .back-link {
            position: absolute;
            top: 5%;
            right: 8%;
            text-decoration: none;
            @include main-font(1.1rem, 700, rgb(167, 167, 167));
            

        }
    }
}

// Phone landscape
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 825px) 
and(orientation: landscape) {
    .contact-container {
        height: auto;

        .inner {
            @include flex(center, center, column);
            height: auto;
            width: 80%;

            .left {
                width: 100%;
                padding: 10%;
                height: auto;

                .text {
                    h1 {
                        font-size: 2.5rem;
                        line-height: 3rem;
                    }
                    .bottom-h1 {
                        margin: 0;
                        margin-bottom: 12px;
                    }

                    h3 {
                        font-size: 1rem;

                        span {
                            font-size: 1rem;
                        }
                    }
                }

                img {
                    display: none;
                }
            }

            .hr-container {
                @include flex(center, center, row);
                width: 100%;
                background: $lightBeige;
            
                .horizontal-line {
                    height: 2px;
                    width: 80%;
                    background-image: linear-gradient(to right, $softBlack 10%, rgba(255,255,255, 0) 0%);
                    background-position: bottom;
                    background-size: 15px 2px;
                    background-repeat: repeat-x;
                }
            }

            .right {
                height: auto;
                width: 100%;

                form {
                    margin: 0;
                    padding: 10%;
                    width: 100%;

                    .form-input-container {
                        width: 100%;

                        h2 {
                            font-size: 0.9rem;
                        }

                        input {
                            font-size: 0.9rem;

                        }
                    }

                    .time-slot-container {
                        .text-container {
                            h2 {
                                font-size: 0.9rem;

                                span {
                                    font-size: 0.9rem;
                                }
                            }

                            h3 {
                                font-size: 0.9rem;
                            }
                        }

                        .checkbox-container {
                            width: 100%;
                            .left {
                                width: 0%;
                                padding: 0;
                                transform: translateY(-5px);
                                margin-right: 20px;

                                .lower {
                                    height: 55px;
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }

                            .right {
                                .day {
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }
                        }
                    }

                    .submit-button {
                  
                    }
                }
            }
        }

        .back-link {
            position: absolute;
            top: 10%;
            right: 15%;
            text-decoration: none;
            @include main-font(1.1rem, 700, rgb(167, 167, 167));
            

        }
    }

}

// Low end Tablet Portrait
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px) 
and (min-height: 1024px) 
and (orientation: portrait) {

}

// Low end Tablet landscape
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {
    .contact-container {
        height: auto;

        .inner {
            @include flex(center, center, column);
            height: auto;
            width: 80%;

            .left {
                width: 100%;
                padding: 20vh 10% 10vh 10%;
                height: auto;

                .text {
                    h1 {
                        font-size: 2.5rem;
                        line-height: 3rem;
                    }
                    .bottom-h1 {
                        margin: 0;
                        margin-bottom: 12px;
                    }

                    h3 {
                        font-size: 1rem;

                        span {
                            font-size: 1rem;
                        }
                    }
                }

                img {
                    display: none;
                }
            }

            .hr-container {
                @include flex(center, center, row);
                width: 100%;
                background: $lightBeige;
            
                .horizontal-line {
                    height: 2px;
                    width: 80%;
                    background-image: linear-gradient(to right, $softBlack 10%, rgba(255,255,255, 0) 0%);
                    background-position: bottom;
                    background-size: 15px 2px;
                    background-repeat: repeat-x;
                }
            }

            .right {
                height: auto;
                width: 100%;

                form {
                    margin: 0;
                    padding: 10%;
                    width: 100%;

                    .form-input-container {
                        width: 100%;

                        h2 {
                            font-size: 0.9rem;
                        }

                        input {
                            font-size: 0.9rem;

                        }
                    }

                    .time-slot-container {
                        .text-container {
                            h2 {
                                font-size: 0.9rem;

                                span {
                                    font-size: 0.9rem;
                                }
                            }

                            h3 {
                                font-size: 0.9rem;
                            }
                        }

                        .checkbox-container {
                            width: 100%;
                            .left {
                                width: 0%;
                                padding: 0;
                                transform: translateY(-5px);
                                margin-right: 20px;

                                .lower {
                                    height: 55px;
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }

                            .right {
                                .day {
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .back-link {
            position: absolute;
            top: 10%;
            right: 15%;
            text-decoration: none;
            @include main-font(1.1rem, 700, rgb(167, 167, 167));
            

        }
    }

}

// Mid Tablet Portrait
@media only screen 
and (min-device-width: 823px) 
and (max-device-width: 823px) 
and (min-device-height: 1112px) 
and (max-device-height: 1112px) 
and (orientation: portrait) {
    .contact-container {
        height: auto;
        min-height: 100vh;

        .inner {
            @include flex(center, center, column);
            height: auto;
            width: 80%;

            .left {
                width: 100%;
                padding: 10vh 10% 6vh 10%;
                height: auto;

                .text {
                    
                    h1 {
                        font-size: 2.5rem;
                        line-height: 3rem;
                    }
                    .bottom-h1 {
                        margin: 0;
                        margin-bottom: 12px;
                    }

                    h3 {
                        font-size: 1rem;

                        span {
                            font-size: 1rem;
                        }
                    }
                }

                img {
                    display: none;
                }
            }

            .hr-container {
                @include flex(center, center, row);
                width: 100%;
                background: $lightBeige;
            
                .horizontal-line {
                    height: 2px;
                    width: 80%;
                    background-image: linear-gradient(to right, $softBlack 10%, rgba(255,255,255, 0) 0%);
                    background-position: bottom;
                    background-size: 15px 2px;
                    background-repeat: repeat-x;
                }
            }

            .right {
                height: auto;
                width: 100%;

                form {
                    margin: 0;
                    padding: 10%;
                    width: 100%;

                    .form-input-container {
                        width: 100%;

                        h2 {
                            font-size: 0.9rem;
                        }

                        input {
                            font-size: 0.9rem;

                        }
                    }

                    .time-slot-container {
                        .text-container {
                            h2 {
                                font-size: 0.9rem;

                                span {
                                    font-size: 0.9rem;
                                }
                            }

                            h3 {
                                font-size: 0.9rem;
                            }
                        }

                        .checkbox-container {
                            width: 100%;
                            .left {
                                width: 0%;
                                padding: 0;
                                transform: translateY(-5px);
                                margin-right: 20px;

                                .lower {
                                    height: 55px;
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }

                            .right {
                                .day {
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .back-link {
            position: absolute;
            top: 10%;
            right: 15%;
            text-decoration: none;
            @include main-font(1.1rem, 700, rgb(167, 167, 167));
            

        }
    }
}

// Mid Tablet Landscape
@media only screen 
and (min-device-height: 823px) 
and (max-device-height: 823px) 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) {
    .contact-container {
        height: auto;
        min-height: 100vh;

        .inner {
            @include flex(center, center, column);
            height: auto;
            width: 80%;

            .left {
                width: 100%;
                padding: 10vh 10% 6vh 10%;
                height: auto;

                .text {
                    
                    h1 {
                        font-size: 2.5rem;
                        line-height: 3rem;
                    }
                    .bottom-h1 {
                        margin: 0;
                        margin-bottom: 12px;
                    }

                    h3 {
                        font-size: 1rem;

                        span {
                            font-size: 1rem;
                        }
                    }
                }

                img {
                    display: none;
                }
            }

            .hr-container {
                @include flex(center, center, row);
                width: 100%;
                background: $lightBeige;
            
                .horizontal-line {
                    height: 2px;
                    width: 80%;
                    background-image: linear-gradient(to right, $softBlack 10%, rgba(255,255,255, 0) 0%);
                    background-position: bottom;
                    background-size: 15px 2px;
                    background-repeat: repeat-x;
                }
            }

            .right {
                height: auto;
                width: 100%;

                form {
                    margin: 0;
                    padding: 10%;
                    width: 100%;

                    .form-input-container {
                        width: 100%;

                        h2 {
                            font-size: 0.9rem;
                        }

                        input {
                            font-size: 0.9rem;

                        }
                    }

                    .time-slot-container {
                        .text-container {
                            h2 {
                                font-size: 0.9rem;

                                span {
                                    font-size: 0.9rem;
                                }
                            }

                            h3 {
                                font-size: 0.9rem;
                            }
                        }

                        .checkbox-container {
                            width: 100%;
                            .left {
                                width: 0%;
                                padding: 0;
                                transform: translateY(-5px);
                                margin-right: 20px;

                                .lower {
                                    height: 55px;
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }

                            .right {
                                .day {
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .back-link {
            position: absolute;
            top: 10%;
            right: 15%;
            text-decoration: none;
            @include main-font(1.1rem, 700, rgb(167, 167, 167));
            

        }
    }
}

 // High end Tablet Portrait
 @media only screen 
 and (min-device-width: 1024px) 
 and (max-device-width: 1024px) 
 and (min-device-height: 1366px) 
 and (max-device-height: 1366px) 
 and (orientation: portrait) {

 }

 // High end Tablet Landscape
@media only screen 
and (min-device-height: 1024px) 
and (max-device-height: 1024px) 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) {

}

// Laptop
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1680px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .contact-container {
        .inner {
            width: 80%;

            .left {
                .text {
                    h1 {
                        font-size: 2.7rem;
                    }

                    h3 {
                        font-size: 1rem;
                    }
                }
            }

            .right {
                form {
                    margin-left: 15%;
                    margin-top: 0;

                    .form-input-container {
                        margin-bottom: 25px;

                        h2 {
                            font-size: 0.9rem;
                        }

                        input {
                            font-size: 0.9rem;
                        }
                    }

                    .time-slot-container {
                        .text-container {
                            h2 {
                                font-size: 0.9rem;

                                span {
                                    font-size: 0.9rem;
                                }
                            }

                            h3 {
                                font-size: 0.9rem;
                            }
                        }

                        .checkbox-container {
                            .left {
                                .lower {
                                    h3 {
                                        font-size: 0.8rem;
                                    }
                                }
                            }

                            .right {
                                .day {
                                    h3 {
                                        font-size: 0.9rem;
                                    }
                                }
                            }
                        }
                    }

                    .submit-button {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

// 4k
@media screen 
and (min-device-width: 2400px) 
and (max-device-width: 3200px) {
    .contact-container {
        .inner {
            .right {
                form {
                    margin-left: 10%;

                    .form-input-container {
                        margin-bottom: 50px;

                        h2 {
                            font-size: 1.3rem;
                        }

                        input {
                            font-size: 1.3rem;
                        }
                    }

                    .time-slot-container {
                        .text-container {
                            margin-bottom: 10px;
                            h2 {
                                font-size: 1.3rem;
                            }
                        }

                        .checkbox-container {
                            .left {
                                .lower {
                                    h3 {
                                        font-size: 1.2rem;
                                    }
                                }
                            }

                            .right {
                                .day {
                                    margin-right: 30px;

                                    h3 {
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }

                    .submit-button {
                        padding: 20px 25px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}