@import '../config';

.introduction-container {
    @include flex(center, center, row);
    height: 100vh;
    width: 100vw;
    background: $lightBeige;

    .inner {
        @include flex(center, center, column);
        height: 93vh;
        width: $inner-width;
        margin-top: 7vh;
        transform: translateY(-5%);

        .upper {
            @include flex(center, center, row);
            height: 85%;
            width: 100%;

            .left {
                @include flex(flex-start, center, column);
                height: 100%;
                width: 45%;
            

                .left-inner {
                    z-index: 2;
                    transition: 0.5s all ease-in-out;
                    h1 {
                        @include main-font(3.5rem, 700, $black);
                        margin-bottom: 20px;
                        width: 90%;
                        z-index: 2;
                    }

                    h3 {
                        @include minor-font(1rem, 600, $black);
                        width: 80%;
                        z-index: 2;
                        margin-bottom: 40px;
                        line-height: 1.8rem;

                        span {
                            border-bottom: 2px solid $mainOrange;
                        }
                    }

                    .buttons-container {
                        @include flex(center, space-between, row);
                        width: 45%;
                        height: 10%;
                        margin-top: 15%;

                        .button {
                            @include flex(center, center, row);
                            @include minor-font(1rem, 700, $black);
                            padding: 12px 15px;
                            border-radius: 5px;
                            border: 1px solid $black;
                            text-decoration: none;
                            cursor: pointer;
                            transition: 0.2s all ease-in;
                        }

                        .button-1 {
                            background: $black;
                            color: $lightBeige;

                            &:hover {
                                background: rgb(61, 61, 61);
                            }
                        }

                        .button-2 {
                            &:hover {
                                background: $black;
                                color: $lightBeige;
                            }
                        }
                    }
                }

            }

            .right {
                @include flex(center, center, row);
                height: 100%;
                width: 55%;

                img {
                    height: 80%;
                    transform: translateX(-10%);
                  
  
                    transition: 0.5s all ease-in-out;
                }

       
            }
        }

        .lower {
            @include flex(flex-start, space-between, row);
            height: 15%;
            width: 100%;
            transition: 0.5s all ease-in-out;

            img {
                height: 50%;
            }
        }
    }
}

// 4k
@media screen and (min-device-width: 2400px) and (max-device-width: 3200px) {
    .introduction-container {

        .inner {
            .upper {
                .left {
                    .left-inner {
                        h1 {
                            font-size: 4.2rem;
                        }

                        h3 {
                            font-size: 1.3rem;
                            line-height: 2.2rem;

                            span {
                                font-size: 1.3rem;
                            }
                        }

                        .buttons-container {
                            .button {
                                font-size: 1.3rem;
                                padding: 20px 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Laptop
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .introduction-container {
        .inner {
            width: 90%;

            .upper {
                .left {
                    .left-inner{
                        h1 {
                            font-size: 2.5rem;
                        }

                        h3 {
                            font-size: 0.8rem;
                            span {
                                font-size: 0.8rem;
                            }
                        }

                        .buttons-container {
                            width: 60%;
                            .button {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .right {
                    img {
                        height: 70%;
                    }
                }
            }
        }
    }
}

// Phone
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    .introduction-container {
        height: auto;
        .inner {
            height: auto;
            width: 100%;
            margin: 0;
            transform: translateY(0);

            .upper {
                height: auto;
                
                .left {
                    height: 100vh;
                    width: 100%;
                    padding: 10%;

                    .left-inner {
                        h1 {
                            font-size: 2.7rem;
                            width: 100%;
                        }

                        h3 {
                            width: 100%;
                            font-size: 0.9rem;

                            span {
                                font-size: 0.9rem;
                            }
                        }

                        .buttons-container {
                            width: 100%;
                            .button {
                                padding: 12px 20px;
                            }
                        }
                    }
                }

                .right {
                    display: none;
                }
            }

            .lower {
                display: none;
            }
        }
    }
}